.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}

.row{
	display: flex;
	justify-content: space-between;
}

.col-1{
	flex: 1;
}
.col-2{
	flex: 2;
}
.left-align{
	margin-left: -5rem;
}
.align-content{
	overflow: hidden;
}
.display-left{
	display: flex;
	margin-left: 10rem;
}
